html, body {
    height: 100%;
    width: 100%;
    font-family: freight-display-pro;
    /* border: 5px solid white; */
}
header {
    height: 100%;
    background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.navbar-dark{
    padding-top: 1.25rem;
    overflow: hidden;
    color: #3F3F41;
    opacity: 0.95;
}

.top-header {
    font-size: 4rem;
    font-weight: 150;
    color: honeydew;
    padding-left: 8rem;
}

.my-border {
    /* border: 5px solid red; */
    margin-right: 1rem;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
    color: honeydew;
    font-family: 'Baloo Bhai 2', cursive;
}

/* .header-link {
    border: 1px solid burlywood;
    padding: 1rem;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
    color: honeydew;
    font-family: 'Baloo Bhai 2', cursive;
} */

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.container-fluid hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.margin-left-header {
    margin-left: 110px;
}
.ml-0 {
    margin-left:0px !important;
  }
.ml-1 {
    margin-left:40% !important;
  }
  .ml-2 {
    margin-left:35% !important;
  }
.mt-1 {
    margin-top: 2% !important;
} 
.mb-0 {
    margin-bottom: 50px !important;
}

.mt-2 {
    margin-top: 5rem !important;
}

.pt-0 {
    padding-top: 8rem !important;
}

.section-height  {
    height: 100vh;
}

/* === PROJECTS SECTION == */

/* -- More Project's Button Margin's  -- */
.container-fluid .row .col-md-4 .btn-more-projects {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 37rem;
    width: 35%;
}


/* === --START OF "DEVELOPER SPACE EXPERT ADVICE" SECTION  === */
.info {
    height: 60%;
    opacity: 0.85;
    background-image: url("../images/lauren-mancke-aOC7TSLb1o8-unsplashUpdate2.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;  
    color: #fff; 
}


.description {
    background-color: #303030;
    color: honeydew;
}
.p-0 {
    padding: 8rem !important;
}


.img-section {
    height: 100%;
    justify-content: center;
    background-color: #fff;
    padding-left: 18rem;
}

strong {
    font-size: 30px;
}


.footer-height  {
    height: 55vh;
}

/* .card-size{
    width: 55%;
} */



/*--- Media Queries ---*/
@media (max-width: 2170px) and (max-width: 1312px){
/* =========================================
    NAVBAR SECTION
   ========================================= */

   /* .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link{
       font-size: 1rem;
       padding: 1rem;
   } */
/* =========================================
    HEADER SECTION
   ========================================= */
   .my-border .row .btn {
        font-size: 1rem;
   }   
/* =========================================
    WHAT I DO SECTION
   ========================================= */  
    .welcome hr {
        border-top: 4px solid #b4b4b4;
        width: 98%;
        margin-top: 0.6rem;
        margin-bottom: 2rem;
    }    
    .lead {
        font-size: 1.5rem;
    }
    .container-fluid .row .col-md-4 .card .card-body .card-title {
        text-align: center;
        padding-bottom: 1em;
    }
    .container-fluid .row .col-md-4 .card .card-body .card-text {
        font-size: 1rem;
    }
    .container-fluid .row .col-md-4 .card .card-body .btn-outline-secondary {
        margin-left: 0rem;
        margin-top: 1rem;
        font-size: 1rem;
    }

    /* .mobile-button {
        display: none;
    } */

/* =========================================
    WHO I AM SECTION
   ========================================= */ 
    .container .lead {
        font-size: 1.3rem;
    }

/* === PROJECTS SECTION == */
    .container-fluid .row .col-md-4 .card .btn {
        font-size: 1rem;
    }
/* -- More Project's Button Margin's  -- */
    .container-fluid .row .col-md-4 .btn-more-projects {
        margin-top: 8rem;
        margin-left: 60rem;
        width: 35%;
        font-size: 2rem;
    }
/* =========================================
    DEVELOPER SPACE EXPERT SECTION
   ========================================= */
   .container-fluid .row .col-lg-6 .display-5 {
       margin-top: 13rem;
   }
   .info {
    opacity: 0.85;
    background-color: grey;
}
/* =========================================
    START OF "OUR PHILOSOPHY" SECTION 
   ========================================= */ 
    .container-fluid .row .col-lg-6 > .display-5 {
        font-size: 3rem;
       
    }
/* =========================================
    FOOTER SECTION
   ========================================= */ 
    .navbar .container-fluid .collapse .navbar .col-1 .nav-link{
        font-size: 2rem;
        
    }
    .container-fluid .row .col-12 {
        font-size: 1.5rem;
    }
    .ml-2 {
        margin-left:30.1% !important;
      }
}

@media (min-width: 1946px) {
    /* === PROJECTS SECTION == */
    /* -- More Project's Button Margin's  -- */
        .container-fluid .row .col-md-4 .btn-more-projects {
            margin-top: 8rem;
            margin-left: 55rem;
            width: 38%;
            font-size: 2rem;
        }
    }
    
    @media (min-width: 1794px) {
        /* === PROJECTS SECTION == */
        /* -- More Project's Button Margin's  -- */
            .container-fluid .row .col-md-4 .btn-more-projects {
                margin-top: 8rem;
                margin-left: 50rem;
                width: 40%;
                font-size: 2rem;
            }
            /* .mobile-button {
                display: none;
            } */
        }
    @media (min-width: 1674px) {
    /* === PROJECTS SECTION == */
    /* -- More Project's Button Margin's  -- */
           .container-fluid .row .col-md-4 .btn-more-projects {
                    margin-top: 8rem;
                    margin-left: 45rem;
                    width: 50%;
                    font-size: 2rem;
                }
            
                /* .mobile-button {
                    display: none;
                } */
            }    
    @media (max-width: 1538px){
    /*DEVELOPER SPACE EXPERT SECTION*/
        .display-3 {
            font-size: 2rem;
        }

        /* .mobile-button {
            display: none;
        } */
    }       
    @media (max-width: 1312px){
    /*DEVELOPER SPACE EXPERT SECTION*/
        .display-3 {
            font-size: 2rem;
        }

        /* .mobile-button {
            display: none;
        } */
    }

    @media (max-width: 1310px){
    /* === PROJECTS SECTION == */
    /* -- More Project's Button Margin's  -- */
        .container-fluid .row .col-md-4 .btn-more-projects {
            margin-top: 8rem;
            margin-left: 33rem;
            width: 60%;
            font-size: 2rem;
        }
    
    
    /* =========================================
    NAVBAR SECTION
   ========================================= */

   /* .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link{
    font-size: 1.5rem;
    padding: 1rem;
} */
/* =========================================
 HEADER SECTION
========================================= */
.my-border .row .btn {
     font-size: 1.5rem;
}   
/* =========================================
 WHAT I DO SECTION
========================================= */  
 .welcome hr {
     border-top: 4px solid #b4b4b4;
     width: 98%;
     margin-top: 0.6rem;
     margin-bottom: 2rem;
 }    
 .lead {
     font-size: 1.8rem;
 }
 .container-fluid .row .col-md-4 .card .card-body .card-title {
     text-align: center;
     padding-bottom: 1em;
 }
 .container-fluid .row .col-md-4 .card .card-body .card-text {
     font-size: 1.5rem;
 }
 .container-fluid .row .col-md-4 .card .card-body .btn-outline-secondary {
     margin-left: 0rem;
     margin-top: 1rem;
     font-size: 1.5rem;
 }
/* 
 .mobile-button {
    display: none;
} */
/* =========================================
 WHO I AM SECTION
========================================= */ 
 .container .lead {
     font-size: 1.8rem;
 }

/* === PROJECTS SECTION == */
 .container-fluid .row .col-md-4 .card .btn {
     font-size: 1.3rem;
 }

/* =========================================
 DEVELOPER SPACE EXPERT SECTION
========================================= */
.container-fluid .row .col-lg-6 .display-5 {
    margin-top: 13rem;
}
.info {
 opacity: 0.85;
 background-color: grey;
}
/* =========================================
 START OF "OUR PHILOSOPHY" SECTION 
========================================= */ 
 .container-fluid .row .col-lg-6 > .display-5 {
     font-size: 3rem;
    
 }
/* =========================================
 FOOTER SECTION
========================================= */ 
 .navbar .container-fluid .collapse .navbar .col-1 .nav-link{
     font-size: 1.8rem;
     
 }
 .container-fluid .row .col-12 {
     font-size: 1.5rem;
 }
 .ml-2 {
     margin-left:19% !important;
   }
}

@media (max-width: 1366px){
    /* =========================================
 FOOTER SECTION
========================================= */ 
 .navbar .container-fluid .collapse .navbar .col-1 .nav-link{
    font-size: 1.2rem;
    
}
.container-fluid .row .col-12 {
    font-size: 1rem;
}
.ml-2 {
    margin-left:27% !important;
  }
}

}

@media  (max-width: 992px){
    .welcome display-5 {
        font-size: 2rem;
    }

    /* .mobile-button {
        display: none;
    } */
/* === PROJECTS SECTION == */
/* -- More Project's Button Margin's  -- */
    .container-fluid .row .col-md-4 .btn-more-projects {
        margin-top: 8rem;
        margin-left: 20rem;
        width: 85%;
        font-size: 2rem;
    }
/*DEVELOPER SPACE EXPERT SECTION*/
    .display-3 {
        font-size: 2.2rem;
    }
.info {
 opacity: 0.8;
 background-color: black;
}        
/* =========================================
    FOOTER SECTION
   ========================================= */ 
 .navbar .container-fluid .collapse .navbar .col-1 .nav-link{
    font-size: 1.8rem;
    
}
.container-fluid .row .col-12 {
    font-size: 1.5rem;
}
.ml-2 {
    margin-left:8% !important;
  }

}
@media (max-width: 768px){
    display-5 {
        font-size: 1.2rem;
    }
    .container-fluid section-height {
        height: 0;
    }

    /* .mobile-button {
        display: none;
    } */
}

@media (max-width: 767px){
    .welcome display-5 {
        font-size: 1rem;
    }
    .display-3 {
        font-size: 2.5rem;
    }
    .container-fluid section-height {
        height: 80%;
    }

    .card-size{
        width: 35%;
        /* height: 30%; */
        margin-left: 15rem;
    }

    /* .mobile-button {
        display: none;
    } */

/* === START OF "DEVELOPER SPACE EXPERT ADVICE" SECTION === */
    .info {
        height: 30%;
        background-image: url("../images/lauren-mancke-aOC7TSLb1o8-unsplashUpdate2.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;  
        color: #fff; 
    }

}

@media (max-width: 766px){
     /* =========================================
    NAVBAR SECTION
    ========================================= */       

    /* .navbar-expand-md .container-fluid .navbar-toggler {
        background-color: grey;
        opacity: 0.45;
        
    }
    .navbar-expand-md .container-fluid .navbar-toggler .navbar-toggler-icon {
        color: black !important;
        width: auto;
    } */
/* =========================================
    HEADER SECTION
   ========================================= */
   .my-border .row .btn {
    font-size: 1.5rem;
}     

/* =========================================
    WHAT I DO SECTION
   ========================================= */  
   .welcome hr {
    border-top: 4px solid #b4b4b4;
    width: 98%;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
}    
.lead {
    font-size: 1.5rem;
}
.container-fluid .row .col-md-4 .card .card-body .card-title {
    text-align: center;
    padding-bottom: 1em;
}
.container-fluid .row .col-md-4 .card .card-body .card-text {
    font-size: 1.4rem;
}
.container-fluid .row .col-md-4 .card .card-body .btn-outline-secondary {
    margin-left: 10rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}

/* .mobile-button {
    display: none;
} */
 /* =========================================
    WHAT I DO SECTION END
    ========================================= */      

/* =========================================
    WHO I AM SECTION
   ========================================= */ 
   .container .lead {
    font-size: 1.4rem;
}


 /* =========================================
    MY PROJECT'S STYLING SECTION
    ========================================= */

    /* -- Hide Card Images --*/
    .card-size img {
        display: none;
    }
    /* -- Format card widths and apply transition settings --*/
    .card-size{
        width: 80%;
        margin: auto;
        height: 15rem;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    /* -- Apply transition settings for text and formatting --*/
    .container-fluid .row .col-md-4 .card-size .card-body {
        transition: .5s ease;
        opacity: 0;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 49%;
        text-align: center;
        font-size: 1rem;
        color: #fff;
    }
    /* -- Card Button's formatting --*/
    .container-fluid .row .col-md-4 .card-size .card-body .btn-primary {
        align-content: center;
        margin-right: 19rem;
        width: 38%;
        font-size: 1rem;
    }

    /* === CARD BACKGROUND IMAGES === */

    /* -- Card 1 --*/
    #background-dashboard {
        background-image: url("../images/dashboard-v1update2.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 

    }
    /* -- Card 2 --*/
    #background-social {
        background-image: url("../images/zoom-app.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 
    }
    /* -- Card 3 --*/
    #background-photo {
        background-image: url("../images/photo-appOne.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 
    }

    /* === CARD HOVER EFFECTS === */

    /* -- Card 1 --*/
    #background-dashboard:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-dashboard:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
    /* - Card 2 --*/
    #background-photo:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-photo:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
    /* -- Card 3 --*/
    #background-social:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-social:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
 
    /* === FULL-STACK DEVELOPER BACKGROUND IMAGE ===*/

    /* --- Resize background image size --*/
    .info {
        height: 60%;
        background-image: url("../images/lauren-mancke-aOC7TSLb1o8-unsplashUpdate2.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;  
        color: #fff; 
    }

    /* -- More Project's Button Margin's --*/
    .container-fluid .row .col-md-4 .btn {
        margin-top: 2rem;
        margin-left: 13rem;
        width: 40%;
        font-size: 2rem;
    }

 /* =========================================
    MY PROJECT'S STYLING SECTION END
    ========================================= */

/* =========================================
    FOOTER SECTION
   ========================================= */ 
    .container-fluid .row .col-12 {
        font-size: 1.3rem;
    }
    .ml-2 {
        margin-left:30.1% !important;
    }
}

@media (max-width: 687px){
    .welcome display-5 {
        font-size: 1rem;
    }
    .display-3 {
        font-size: 1.5rem;
    }


}

@media (min-width: 667px){
    /* =========================================
    FOOTER SECTION
   ========================================= */ 


.description .container-fluid .row .col-12 .display-5 {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 0.65rem;
    margin-bottom: 0rem;
}

.container-fluid .row .col-12 {
    font-size: 0.70rem;
    bottom: 0rem;
    padding-left: 0rem;
}
.ml-2 {
    margin-left:25% !important;
}

.footer-height  {
    height: 25vh;
    width: 100%;
    position: relative;
    margin-top: 2.5rem;
    justify-self: center;
}

.navbar .container-fluid .col-4 .nav-link{
    font-size: 0.95em;
    margin-left: 1.75rem;
}

.navbar .container-fluid .col-4 {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 35.75rem;
}

.container-fluid .mt-5{
    margin-top: 0rem !important;
}
}

@media (max-width: 667px){
    
    html, body {
        height: 100%;
        width: 100%;
    }
         /* =========================================
    NAVBAR SECTION
    ========================================= */       

    .navbar-dark{
        padding-top: 2rem;
        overflow: hidden;
    }
/* =========================================
    HEADER SECTION
   ========================================= */

   .my-border .row .btn {
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

    .top-header {
    font-size: 2.5rem;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 150;
    color: honeydew;
}

   header {
    height: 100%;
    width: 100%;
    background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;   
} 

   .my-border .row .btn {
    font-size: 10px;
    }

/* =========================================
    WHAT I DO SECTION
   ========================================= */  

   .container-fluid .padding {
       padding-bottom: 0rem;
   }
   .welcome hr {
    border-top: 2px solid #b4b4b4;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}  

.container-fluid .welcome .col {
    margin-right: 3rem;
    margin-left: 3rem;
    
    
}

.container-fluid .welcome .col .display-4 {
    font-size: 1.8rem;
    
}  
.lead {
    font-size: 0.85rem;
    font-style: normal;
}

.container-fluid .row .col-md-4 .temp-div .card {
    width: 55%;
    height: 12rem;
    margin-bottom: 2rem;
    margin-left: 9rem;
}

.container-fluid .row .col-md-4 .temp-div .card .card-body {
    width: 65%;
    margin: auto;
    height: 10rem;
}

.container-fluid .row .col-md-4 .card .card-body .card-title {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1em;
}
.container-fluid .row .col-md-4 .card .card-body .card-text {
    text-align: center;
    font-size: 0.85em;
}
.container-fluid .row .col-md-4 .card .card-body .btn-outline-secondary {
display: none;
}

.container-fluid .mobile-button {
    margin-left: 18rem;
}
 /* =========================================
    WHAT I DO SECTION END
    ========================================= */      

/* =========================================
    WHO I AM SECTION
   ========================================= */ 
   .container .row .col .display-4 {
        font-size: 1.8rem;
   }

   .p-0 {
       padding-left: 1rem !important;
       padding-top: 0rem !important;
   }
  
   .container .welcome .hr-two {
    border-top: 1px solid #b4b4b4;
    width: 100%;
    margin-top: 0.6rem;
    margin-left: 0rem;
    margin-right: 1rem;
    margin-bottom: 0.75rem;
}   

   .section-height {
       height: 90%;
       width: 75%; 
   }

   .container .lead {
    font-size: 0.90rem;
}


 /* =========================================
    MY PROJECT'S STYLING SECTION
    ========================================= */

    /* -- Hide Card Images --*/
    .card-size img {
        display: none;
    }
    /* -- Format card widths and apply transition settings --*/
    .card-size{
        width: 65%;
        height: 60%;
        margin-bottom: 1rem;
        height: 11.5rem;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    /* -- Apply transition settings for text and formatting --*/
    .container-fluid .row .col-md-4 .card-size .card-body {
        transition: .5s ease;
        opacity: 0;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 55%;
        text-align: center;
        font-size: 1rem;
        color: #fff;
    }
    /* -- Card Button's formatting --*/
    .container-fluid .row .col-md-4 .card-size .card-body .btn-primary {
        align-content: center;
        margin-right: 24rem;
        width: 42%;
        font-size: 0.80rem;
    }

    /* === CARD BACKGROUND IMAGES === */

    /* -- Card 1 --*/
    #background-dashboard {
        background-image: url("../images/dashboard-v1update2.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 

    }
    /* -- Card 2 --*/
    #background-social {
        background-image: url("../images/zoom-app.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 
    }
    /* -- Card 3 --*/
    #background-photo {
        background-image: url("../images/photo-appOne.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 
    }

    /* === CARD HOVER EFFECTS === */

    /* -- Card 1 --*/
    #background-dashboard:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-dashboard:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
    /* - Card 2 --*/
    #background-photo:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-photo:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
    /* -- Card 3 --*/
    #background-social:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-social:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
 
    /* === FULL-STACK DEVELOPER BACKGROUND IMAGE ===*/

    /* --- Resize background image size --*/

    .info {
        height: 100%;
        width: 100%;
        opacity: 0.65;
        background-image: url("../images/lauren-mancke-aOC7TSLb1o8-unsplashUpdate2.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;  
        color: #fff; 
        position: relative;
        margin-top: 30rem;
    }




    .container-fluid .row .col-lg-6 .display-5 {
        font-size: 1.5rem;
        margin-top: 3rem;
        padding-right: 8rem;
    }

     .lead {
        font-size: 1.1rem;
    } 


    /* -- More Project's Button Margin's --*/
    .container-fluid .row .col-md-4 .btn {
        margin-top: 2rem;
        margin-left: 10rem;
        width: 40%;
        font-size: 1rem;
    }

 /* =========================================
    MY PROJECT'S STYLING SECTION END
    ========================================= */

    /* =========================================
    START OF "OUR PHILOSOPHY" SECTION 
   ========================================= */ 
   .container-fluid .row .col-lg-6 > .display-5 {
    font-size: 1.5rem;
 }






}




@media (max-width: 576px){

 /* =========================================
    NAVBAR SECTION
    ========================================= */       

    /* .navbar-expand-md .container-fluid .navbar-toggler {
        background-color: cornsilk;
        color: black;
    } */
/* =========================================
    HEADER SECTION
   ========================================= */
   .my-border .row .btn {
    font-size: 1.5rem;
}     

/* =========================================
    WHAT I DO SECTION
   ========================================= */  
   .welcome hr {
    border-top: 4px solid #b4b4b4;
    width: 98%;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
}    
.lead {
    font-size: 1.5rem;
}
.container-fluid .row .col-md-4 .card .card-body .card-title {
    text-align: center;
    padding-bottom: 1em;
}
.container-fluid .row .col-md-4 .card .card-body .card-text {
    font-size: 1.4rem;
}
.container-fluid .row .col-md-4 .card .card-body .btn-outline-secondary {
    margin-left: 10rem;
    margin-top: 1rem;
    font-size: 1.4rem;
}    
 /* =========================================
    WHAT I DO SECTION END
    ========================================= */      

/* =========================================
    WHO I AM SECTION
   ========================================= */ 
   .container .lead {
    font-size: 1.4rem;
}


 /* =========================================
    MY PROJECT'S STYLING SECTION
    ========================================= */

    /* -- Hide Card Images --*/
    .card-size img {
        display: none;
    }
    /* -- Format card widths and apply transition settings --*/
    .card-size{
        width: 80%;
        margin: auto;
        height: 15rem;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    /* -- Apply transition settings for text and formatting --*/
    .container-fluid .row .col-md-4 .card-size .card-body {
        transition: .5s ease;
        opacity: 0;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 49%;
        text-align: center;
        font-size: 1rem;
        color: #fff;
    }
    /* -- Card Button's formatting --*/
    .container-fluid .row .col-md-4 .card-size .card-body .btn-primary {
        align-content: center;
        margin-right: 19rem;
        width: 38%;
        font-size: 1rem;
    }

    /* === CARD BACKGROUND IMAGES === */

    /* -- Card 1 --*/
    #background-dashboard {
        background-image: url("../images/dashboard-v1update2.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 

    }
    /* -- Card 2 --*/
    #background-social {
        background-image: url("../images/zoom-app.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 
    }
    /* -- Card 3 --*/
    #background-photo {
        background-image: url("../images/photo-appOne.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 
    }

    /* === CARD HOVER EFFECTS === */

    /* -- Card 1 --*/
    #background-dashboard:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-dashboard:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
    /* - Card 2 --*/
    #background-photo:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-photo:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
    /* -- Card 3 --*/
    #background-social:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-social:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
 
    /* === FULL-STACK DEVELOPER BACKGROUND IMAGE ===*/

    /* --- Resize background image size --*/
    .info {
        height: 60%;
        background-image: url("../images/lauren-mancke-aOC7TSLb1o8-unsplashUpdate2.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;  
        color: #fff; 
    }

    /* -- More Project's Button Margin's --*/
    .container-fluid .row .col-md-4 .btn {
        margin-top: 2rem;
        margin-left: 7rem;
        width: 55%;
        font-size: 2rem;
    }

 /* =========================================
    MY PROJECT'S STYLING SECTION END
    ========================================= */

/* =========================================
    FOOTER SECTION
   ========================================= */ 
   .navbar .container-fluid .collapse .navbar .col-1 .nav-link{
        
    }
    .container-fluid .row .col-12 {
        font-size: 1.3rem;
    }
    .ml-2 {
        margin-left:30.1% !important;
    }
}

/* =========================================
    iPhone 6/7/8 Resolution
   ========================================= */ 

   
@media (max-width: 375px) {
/* =========================================
    HTML & BODY SECTION
   ========================================= */
   html, body {
    height: 100%;
    width: 100%;
    /* border: 5px solid white; */
}     
    /* =========================================
    NAVBAR SECTION
    ========================================= */
    

    .navbar-toggler {
        border: 5px #3F3F41;
    }

/* =========================================
    HEADER SECTION
   ========================================= */
   
   .top-header {
    font-size: 2.5rem;
    font-weight: 150;
    color: honeydew;
    padding-left: 1rem;
    margin-left: 1rem;
}

   header {
    height: 100%;
    background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;   
}

    .btn-lg {
        margin-bottom: 20px;
    }

    .margin-left-header {
        margin-left: 15px;
    }

    .my-border{
        padding-top: 4rem;
    }
   .my-border .row .btn {
    font-size: 10px;
    }
    .my-border .row .btn-outline-light {
        margin-left: 20px;
    }
    
    .my-border .ml-0 {
        margin-left: -140px !important;
    }

    .my-border .row .ml-0 {
        position: absolute;
        margin-top: 3rem;
        width: 7.3rem;
    } 
/* =========================================
    WHAT I DO SECTION
   ========================================= */  

   .container-fluid .padding {
       padding-bottom: 0rem;
   }
   .welcome hr {
    border-top: 2px solid #b4b4b4;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}  

.container-fluid .welcome .col {
    margin-right: 3rem;
    margin-left: 3rem;
}

.container-fluid .welcome .col .display-4 {
    font-size: 1.2rem;
    
}  
.lead {
    font-size: 0.86rem;
    text-align: justify;
    font-weight: normal;
}

.container-fluid .row .col-md-4 .temp-div .card {
    width: 75%;
    height: 12rem;
    margin-bottom: 2rem;
    margin-left: 1.85rem;
}

.container-fluid .row .col-md-4 .temp-div .card .card-body {
    width: 85%;
    margin: auto;
    height: 10rem;
}

.container-fluid .row .col-md-4 .card .card-body .card-title {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1em;
}
.container-fluid .row .col-md-4 .card .card-body .card-text {
    text-align: left;
    font-size: 0.8rem;
}
.container-fluid .row .col-md-4 .card .card-body .btn-outline-secondary {
display: none;
}

.container-fluid .mobile-button {
    margin-left: 6rem;
}
 /* =========================================
    WHAT I DO SECTION END
    ========================================= */      

/* =========================================
    WHO I AM SECTION
   ========================================= */ 

   .container {
       display: none;
   }

/* =========================================
    END OF WHO I AM SECTION
   ========================================= */ 

 /* =========================================
    MY PROJECT'S STYLING SECTION
    ========================================= */

   

    /* -- Hide Card Images --*/
    .card-size img {
        display: none;
    }

    .container-fluid .padding {
        padding-left: 4%;
    }

    .mt-2 {
        margin-top: 0rem !important;
    }

    .section-height {
        height: 50vh;
        width: 96%;
        position: absolute;
    }

    .container-fluid .row .col-md-4 .card-size {
        margin-left: 1.92rem;
    }


    /* -- Format card widths and apply transition settings --*/
    .card-size{
        width: 85%;
        margin: auto;
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 2.8rem;
        height: 10rem;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }



    /* -- Apply transition settings for text and formatting --*/
    .container-fluid .row .col-md-4 .card-size .card-body {
        transition: .5s ease;
        opacity: 0;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: relative;
        top: 5%;
        left: -10%;
        text-align: center;
        font-size: 1rem;
        color: #fff;
    }
    /* -- Card Button's formatting --*/
    .container-fluid .row .col-md-4 .card-size .card-body .btn-primary {
        align-content: center;
        margin-right: 10rem;
        width: 50%;
        font-size: 1rem;
        
        position: absolute;
        
    }

    /* === CARD BACKGROUND IMAGES === */

    /* -- Card 1 --*/
    #background-dashboard {
        background-image: url("../images/dashboard-v1update2.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 

    }
    /* -- Card 2 --*/
    #background-social {
        background-image: url("../images/zoom-app.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 
    }
    /* -- Card 3 --*/
    #background-photo {
        background-image: url("../images/photo-appOne.jpg");
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff; 
    }

    /* === CARD HOVER EFFECTS === */

    /* -- Card 1 --*/
    #background-dashboard:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-dashboard:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
    /* - Card 2 --*/
    #background-photo:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-photo:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
    /* -- Card 3 --*/
    #background-social:hover {
        opacity: 0.6;
        background-color: black;
    }
    #background-social:hover .card-body{
        opacity: 2;
        font-weight: 200;
        font-size: 1.2rem;
    }
 
    /* === FULL-STACK DEVELOPER BACKGROUND IMAGE ===*/

    /* --- Resize background image size --*/
    .info {
       display: none;
    }

    /* -- More Project's Button Margin's --*/
    .container-fluid .row .col-md-4 .btn {
        margin-top: 2rem;
        margin-left: 5.6rem;
        width: 45%;
        font-size: 1rem;
    }

 /* =========================================
    MY PROJECT'S STYLING SECTION END
    ========================================= */

    .min-view {
        display: none;
    }



/* =========================================
    FOOTER SECTION
   ========================================= */ 
   .navbar .container-fluid .col-4 .nav-link{
        font-size: 0.65em;
    }

    .navbar .container-fluid .col-4 {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .description .container-fluid .row .col-12 .display-3 {
        text-align: center;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .container-fluid .row .col-12 {
        font-size: 0.70rem;
        bottom: 0rem;
        padding-left: 0rem;
    }
    .ml-2 {
        margin-left:25% !important;
    }

    .footer-height  {
        height: 55vh;
        width: 100%;
        position: relative;
        margin-top: 150rem;
        margin-bottom: 0rem;
    }
}






/* =========================================
    PORTFOLIO SECTION
   ========================================= */
   .img-background-portfolio {
    height: 100%;
    /* background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png"); */
    background-image: url(../images/laptop-1478822_1920.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;   
}

    /* span {
        display: block;
    } */


   .portfolio-pre-text {
    background-color: rgba(0, 0, 0, 0.116);
    text-align: center;
    height: 50%;
    margin-top: 5%;
    padding-top: 5%;
   }

   .portfolio-pre-text h2 {
       margin-top: 2em;
       font-size: 1.5rem;
       text-transform: uppercase;
       font-weight: 200;
       line-height: 1.1em;
       color: #151515
       
   }

   .portfolio-pre-text p {
    font-size: 1.2rem;
    margin-top: 5rem;
    font-style: normal;
   }

   /* =========================================
    ABOUT SECTION
   ========================================= */
   .img-background-about {
    height: 100%;
    /* background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png"); */
    background-image: url(../images/hello_iphone.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;   
}

.my-container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.my-container .container-fluid .welcome .col .display-3{
    font-size: 1.8rem !important;
}

.about-text {
    font-size: 1.16rem !important;
    font-weight: 100;
    font-style: normal;
    text-align: justify;
}

.row .col .view-my-work-responsive {
    margin-right: 1.95rem;
}

.custom-padding {
    margin-top: 5rem;
}


.custom-padding .col-md-6 img {
        position: absolute;
        margin-top: 5rem;
        margin-left: 8rem;      
}


.row .col-md-6 img {
    position: absolute;
    margin-top: 5rem;
    margin-left: 8rem;      
}



.custom-padding .col-md-6 .heading4 { 
    margin-top: 8rem; 
    margin-left: 2rem;
}

.custom-padding .col-md-6 p {
    margin-top: 1.8rem;
    margin-left: 2rem;
    text-align: justify;
}

 .row .col-md-6 h4 {
    margin-top: 4.5rem; 
    margin-left: 25rem;
}

.col-md-6 .p2 {
    margin-top: 1.8rem;
    margin-left: 2rem;
    text-align: right;
    text-align: justify;
    padding-right: 1.8rem;
}

.background-div {
    background-color: rgb(243, 245, 247);
    height: 350px;
    /* width: 500px; */
}


.my-container .container-fluid .row .col .display-3{
    text-transform: uppercase;
    font-size: 1.55rem !important;
}

.my-container .container-fluid .row .col .view-my-work-responsive {
    margin-right: 1.95rem;
}

   /* =========================================
    RESUME SECTION
   ========================================= */
   .img-background-resume {
    height: 100%;
    /* background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png"); */
    background-image: url(../images/iphone-notebook-pen-working-34578.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;   
}

.background-section {
    background-color: #F3EFE0;
}

.resume-min-text {
    color: #C4B1AD;
}

/* span {
    margin-left: 2rem;
} */

   /* =========================================
    CONTACT SECTION
   ========================================= */
   .img-background-contact {
    height: 100%;
    /* background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png"); */
    background-image: url(../images/contactTwo.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;   
}

.btn-md {
    margin-left: 11.4rem;
}
.contact-me-mb {
    margin-bottom: 10rem;
}

.contact-me-mb .display-3{
    font-size: 1.6rem !important;
}



/* =========================================
    iPhone 6/7/8 Resolution
   ========================================= */ 

   @media (max-width: 667px) {
    
/* =========================================
    FOOTER SECTION (Home Page)
   ========================================= */



/* =========================================
    HEADER SECTION (RESUME)
   ========================================= */
    .btn-lg {
        font-size: 0.9rem !important;
    }
/* =========================================
    HIRE ME TODAY SECTION (RESUME)
   ========================================= */
    .fw-sm {
        font-weight: normal;
    }

    .display-3 {
        font-size: 2rem !important;
        text-align: center !important;
    }

    .background-div {
        background-color: rgb(243, 245, 247);
        height: 300px;
        width: 550px;
    }

    .submit-form-resp {
        margin-left: 0rem !important;
        margin-top: 0.95rem;
    }

    .row .col-md-6 h4 {
        margin-top: 4.5rem; 
        margin-left: 2rem;
    }

    .portfolio-pre-text {
        background-color: rgba(0, 0, 0, 0.116);
        text-align: center;
        height: 80%;
        margin-top: 5%;
        padding-top: 5%;
    }

    .mobile-size-heading {
        font-size: 2.5rem !important;
    }

    .footer-height-responsive  {
        height: 55vh;
        width: 120%;
        position: relative;
        margin-top: 45rem;
        margin-bottom: 2.5rem;
        justify-self: center;
    }
    
}


   
   @media (max-width: 375px) {
/* =========================================
    HTML & BODY SECTION (RESUME)
   ========================================= */
       html, body {
        height: 100%;
        width: 100%;
        /* border: 5px solid white; */
    }  

/* =========================================
    HEADER SECTION (RESUME)
   ========================================= */    
    .download-resume-btn {
        font-size: 0.9rem !important;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 25px;

    }

    .display-3 {
        font-size: 1.75rem !important;
        text-align: center !important;
    }

/* =========================================
    HIRE ME TODAY SECTION (RESUME)
   ========================================= */    
    .margin-mt-sm {
        margin-top: 8rem !important;
        margin-bottom: 0rem !important;
    }

    .fw-sm {
        font-weight: normal;
    }

    .submit-form-resp {
        margin-left: 7rem !important;
        margin-top: 0.95rem;
    }

    .img-background-about {
        height: 100%;
        /* background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png"); */
        background-image: url(../images/hello_iphone-responsive.jpg);
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;   
    }

    .about-text {
        font-size: 1.2rem;
        font-weight: 100;
        font-style: normal;
    }

    .background-div {
        background-color: rgb(243, 245, 247);
        height: 300px;
        width: 250px;
    }

    .custom-padding .col-md-6 img {
        position: absolute;
        margin-top: 5rem;
        margin-left: 3rem;      
    }

    .custom-padding .col-md-6 .heading4 { 
        margin-top: 8rem; 
        margin-left: 0rem;
    }
    
    .custom-padding .col-md-6 p {
        margin-top: 1.8rem;
        margin-left: 0rem;
        text-align: justify;
    }

    .row .col-md-6 img {
        position: absolute;
        margin-top: 2rem;
        margin-left: 2rem;      
    }

    .row .col-md-6 h4 {
        margin-top: 4.5rem; 
        margin-left: 0rem;
    }

    .col-md-6 .p2 {
        margin-top: 1.8rem;
        margin-left: 0rem;
        text-align: right;
        text-align: justify;
        padding-right: 1.8rem;
    }

    .view-my-work-responsive {
        margin-top: 1.5rem;
    }

    .portfolio-pre-text {
        background-color: rgba(0, 0, 0, 0.116);
        text-align: center;
        height: 80%;
        margin-top: 5%;
        padding-top: 5%;
    }

    .mobile-size-heading {
        font-size: 1.5rem !important;
    }

    .footer-responsive-resume {
        margin-top: 0rem;
    }

    .footer-responsive-contact {
        margin-top: 0rem;
    }

    .footer-responsive-index {
        margin-top: 50rem;
    }

    .footer-height-responsive {
        height: 55vh;
        width: 100%;
        position: relative;
        margin-top: 150rem;
        margin-bottom: 0rem;
    }

 /* =========================================
    CONTACT SECTION
    ========================================= */
   .img-background-contact {
    height: 100%;
    /* background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash@2x.png"); */
    background-image: url(../images/contactTwo.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
}